
 <div class="bg-modal">
  <div class="modal-content">
    <div class="close">+</div>
    <h4>New Manager</h4>
    <div class="md-form mb-5">
      <input [(ngModel)]="user.userName"  class="form-control" placeholder="Username">
      <input [(ngModel)]="user.password" class="form-control" placeholder="Password">
      <input [(ngModel)]="user.confirmPassword" (keyup)="validatePassword()" class="form-control" placeholder="Confirm Password">
      <p *ngIf="error">The passwords not match</p>
      <button type="button" class="btn btn-primary" [disabled]="error" [mat-dialog-close]="user">Submit</button>
  </div>
</div>

