
 <div class="bg-modal">
  <div class="modal-content">
    <mat-toolbar>
      <span>New Manager</span>
      <button class="close" mat-stroked-button (click)="closeModal()" tabindex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
    <div class="modal-field">
      <mat-form-field class="Username">
        <input matInput placeholder="Username" [(ngModel)]="user.userName" (keyup)="validateUserName(user.userName)" class="username" required>
      </mat-form-field>
      <div>
        <p *ngIf="error2">The Username already exists. Please choose other.</p>
        <p *ngIf="error4">The Username field can't be left blank.</p>
      </div>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="user.password" (keyup)="validatePassword()" required>
      </mat-form-field>
      <mat-form-field>
      <input matInput placeholder="Confirm Password" [(ngModel)]="user.confirmPassword" (keyup)="validatePassword()" required>
    </mat-form-field>
    <div>
      <p *ngIf="error">The passwords don't match</p>
    </div>
    <div class="submitButton">
        <button type="button"  class="button" [disabled]="error || error2 || error3 || error4 || error5" [mat-dialog-close]="user">Submit</button>
    </div>
    </div>
  </div>
</div>

