
.modal-field {
  display: flex;
  flex-direction: column;
}

.modal-field > * {
  width: 95%;
  margin: auto;
 }

.Username {
  padding-top: 15px;
}

.close {
  position: absolute;
  right: 20px;
  padding-bottom: 2px;
  color: white;
}

.submitButton {
  text-align: center;
  padding-bottom: 1.25em;
}

.button {
  padding: 10px 20px;
  border-radius: 10px 10px;
  border: 1px solid grey;
  color: grey;
  background-color: transparent;

}
.button:enabled:hover{
  background-color:rgb(25, 196, 194);
  color: white;
}

.button:enabled{
  padding: 10px 20px;
  border-radius: 10px 10px;
  border: 1px solid rgb(25, 196, 194);
  color: rgb(25, 196, 194);
  background-color: transparent;

}
p {
  text-align: left;
  color: red;
}
