h4{
  text-align: center;
  padding: 10px;
}
input{
width: 75%;
display: block;
margin: 15px auto;
}


 .close{
  position: absolute;
  right: 10px;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
 }


.submitButton {
   margin-top: 35px;
   text-align: center;
}

p{
  text-align: center;
  color: red;
}
