
 <div class="bg-modal">
  <div class="modal-content">
    <div class="close" (click)="closeModal()">+</div>
    <h4>New Manager</h4>
    <div class="md-form mb-5">
      <input [(ngModel)]="user.userName" (keyup)="validateUserName(user.userName)" class="form-control" placeholder="Username">
      <p *ngIf="error2">The Username already exists. Please choose other.</p>
      <p *ngIf="error4">The Username field can't be left blank.</p>
      <input [(ngModel)]="user.password" class="form-control" placeholder="Password" required>
      <input [(ngModel)]="user.confirmPassword" (keyup)="validatePassword()" class="form-control" placeholder="Confirm Password">
      <p *ngIf="error">The passwords don't match</p>
      <div class="submitButton">
      <button type="button" class="btn btn-primary" [disabled]="error || error2 || error3 || error4 || error5" [mat-dialog-close]="user">Submit</button>
  </div>
</div>
</div>

