
/* input{
width: 75%;
display: block;
margin: 15px auto;
}
 */

 .modal-field {
  display: flex;
  flex-direction: column;
}

.modal-field > * {
  width: 95%;
  margin: auto;
}

.username{
  padding-top: 20px;
}

 .close{
 position: absolute;
 right: 20px;
 padding-bottom: 2px;
}


.submitButton {
 margin-top: 35px;
 text-align: center;
 padding-bottom: 18px;
 }

p{
  text-align: left;
  color: red;
}

// .submitButton{
// margin-top: 15px;
// margin-bottom: 20px;
// text-align: center;
// background-color: rgb(28, 26, 85);
// padding: 10px 10px;
//  border-radius: 10px 10px;
//   border:1px solid white;
//   color: white;
//  }
