.navQuestions {
  padding: 30px;
  background-image: url("https://www.criticaltechworks.com/img/_6AaJMV5c-logo_banner.svg");
  background-size: 170px;
  background-position: 2% 50%;
  background-repeat: no-repeat;
  background-color: rgba(28, 26, 85);
  color: white;
  height: 85px;

}

.img-responsive {
  width: 100px;
  position: absolute;
  top: 14px;
  right: 10px;
  padding: 4px;
}
.container {
  max-width: 1400px;
}
.video{
  margin: auto;
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.308);

}

.conferenceInfo {
  margin-top: 20px;
  border: 2px solid;
  border-color: rgb(28, 26, 85);

  color: white;
  margin-bottom: 5px;
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.308);
  margin-bottom: 70px;
  width: 80%;
  margin: auto;
  margin-top: 60px;
}
.ConfInfo {
  padding: 10px;
  font-size: 25px;
  border-bottom: 2px solid rgb(25, 196, 194);
  text-align: center;
}


.ConfName {
  font-size: 18px;
  margin-left: 20px;
}
.ConfDescription {
  font-size: 18px;
  margin-left: 20px;

}

.ConfName {
  font-size: 18px;
  margin-left: 20px;

}


input {
  margin: 10px 10px;
  padding: 5px;
  width: 83%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(25, 196, 194);
}

input:hover {
  border-color: rgb(28, 26, 85);
}

input::placeholder {
  color: black;
}

.submitButton {
  border: solid 2px rgb(25, 196, 194);
  padding: 10px 10px;
  margin: 10px -7px;
  text-align: center;
  color: white;
  background-color: transparent;

}

.submitButton:hover {
  background-color: rgb(25, 196, 194);
  color: white;
}

.sort-section {
  text-align: right;

  margin: 20px 0px;
  color: white;
}

.select-Option {

  color: black;
  text-align: r;
}

#card {
  background-color: white;
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.308);
  margin: 10px;
}
.card-body {
  color: rgb(25, 196, 194);
}
.card-text {
  color: black;
}
.fa {
  font-size: 35px;
  cursor: pointer;
  user-select: none;
  color: rgb(28, 26, 85);
}

.fa:hover {
  color: rgb(25, 196, 194);
}
.disabled-vote-button {
  opacity: 0.5;
  pointer-events: none;
}

.questionsListSection {
  display: none;
}

.scrollQuestions{
  overflow-y:auto;
  max-height: 500px;
}
