<nav class="navQuestions">
  <img class="img-responsive" src="assets/Images/AskJIM.png" />
</nav>
<div class="container">
    <div class="row">
    <div class="col">
      <div class="row ">
        <iframe
          class="video"
          [class.thumbnail]="thumbnail"
          [src]="videoUrl"
          width="560"
          height="315"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
        ></iframe>
      </div>
      <div class="row">
        <div class="conferenceInfo">
          <p class="ConfInfo">Conference Information</p>
          <div class="row text">
            <div class="col">
              <p class="ConfName">Name : {{ conferenceName }}</p>
              <p class="ConfDescription">
                Description: {{ conferenceAll.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col-9 p-0">
        <input
          class = "w-100"
          type="text"
          [(ngModel)]="question.questionContent"
          placeholder="Enter your Question"
        />
      </div>
        <div class="col-3">
          <button
            (click)="submitQuestion()"
            [disabled]="submitQuestionDisabled"
            class="submitButton w-100"
            type="button"
          >
            Submit
          </button>
        </div>
      </div>
      <div>
        <div class="sort-section">
          <b>Filter: </b>
          <select
            class="select-Option"
            [(ngModel)]="sortOption"
            (change)="sort()"
          >
            <option value="timeAsc">Input order - Asc</option>
            <option value="timeDesc">Input order - Desc</option>
            <option value="voteAsc">Votes - Asc</option>
            <option value="voteDesc" selected>Votes - Desc</option>
          </select>
        </div>
        <div class="row scrollQuestions">
          <div
            class="cardContainer"
            id="card"
            *ngFor="let card of cards; let i = index"
          >
            <div class="card-body">
              <p class="card-text">
                <b>Question({{ card.id }}): </b>{{ card.questionContent }}
              </p>
              <!-- Add icon library -->
              <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              />

              <!-- Use an element to toggle between a like/dislike icon -->
              <i
                (click)="changeVote(i)"
                class="fa float-right fa-thumbs-up"
                [ngClass]="{
                  'selectedVote': checkIfIncludes(i),
                  'disabled-vote-button': checkSubmitVoteDisabled(i)
                }"
              ></i>
              <span id="numberOfVotes"
                ><b>Votes: </b>{{ card.numberOfVotes }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
