<nav class="header">
   <img class="img-responsive1" src="assets/Images/AskJIM.png">
</nav>
<body class="body">
  <!-- perguntar coisa de baixo -->
    <div class="box">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="email" for="username">Username</label>
        <input
          type="text"
          formControlName="userName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && formFields.userName.errors }"
          placeholder="Enter Username"
        />
            <!-- <div *ngIf="submitted && formFields.userName.errors" class="invalid-feedback">
          <div *ngIf="formFields.userName.errors.required">Username is required</div>
        </div> -->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && formFields.password.errors }"
          placeholder="Password"
        />
        <!-- <div *ngIf="submitted && formFields.password.errors" class="invalid-feedback">
            <div *ngIf="formFields.password.errors.required">Password is required</div>
          </div> -->
      </div> <div *ngIf="error" class="error">{{ error }}</div>
      <div class="form-group">
        <button [disabled]="loading" type="submit" class="button">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Login
        </button>

      </div>
    </form>
  </div>
</body>
