.header {
  padding: 40px;
  background-image: url("https://www.criticaltechworks.com/img/_6AaJMV5c-logo_banner.svg");
  background-size: 170px;
  background-position: 2% 50%;
  background-repeat: no-repeat;
  background-color: rgb(28, 26, 85);
  height:85px;
}

.img-responsive1 {
  width: 100px;
  position: absolute;
  top: 0.8%;
  right: 1%;
  padding: 3px;
}

// img src="assets/img/AskJIM.png"
.body {
  background: linear-gradient(rgba(28, 26, 85, 0.411), rgba(28, 26, 85, 0.411)),
    url("https://cdn.pixabay.com/photo/2017/01/25/15/12/cityscape-2008177_1280.jpg");
  height: 92vh;
  background-attachment: fixed;
  background-color: rgb(28, 26, 85);
  color: rgb(25, 196, 194);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}

.box {
  border: 2px solid rgba(28, 26, 85, 0.356);
  border-radius: 20px 20px;
  margin: auto;
  padding: 5px;
  height: 320px;
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(28, 26, 85, 0.658);
  box-shadow: 20px 20px 50px 10px rgba(106, 121, 120, 0.24);
}

.form-group {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.button {
  background-color: rgb(25, 196, 194);
  padding: 10px 20px;
  border-radius: 10px 10px;
  border: none;
  color: rgb(28, 26, 85);
  font-weight: bold;
}

// rgb(25, 196, 194) verde marinho
