.mat-elevation-z8{
  width: 70%;
  align-content: center;
  margin: auto;

}

table{
 width: 100%;
 }

 .mat-column-actions{
  width: 30%;
 }

 .createManButton{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.filter{
  font-size: 15px;
  width: 70.1%;
  margin-left: 134px;
}

