.navbar {
  padding: 19px;
  background-image: url("https://www.criticaltechworks.com/img/_6AaJMV5c-logo_banner.svg");
  background-size: 170px;
  background-position: 2% 50%;
  background-repeat: no-repeat;
  background-color: rgba(28, 26, 85);
  color: white;
  height: 85px;
}
.img-responsive {
  width: 100px;
  position: absolute;
  top: 14px;
  right: 120px;
  padding: 4px;
}
.user {
  margin-left: 200px;
  font-size: 18px;
  color: white;
}

.logout {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px 10px;
  border: 1px solid white;
  color: white;
  margin: 0px 5px;
}

.logout:hover {
  background-color: rgb(25, 196, 194);
}
