<nav class="navbar">
  <!-- navbar navbar-expand-lg navbar-light bg-primary font-weight-bold -->
  <!--routerLink=""  -->
  <a class="user"  translate> Welcome {{ managerName }}</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" *ngIf="role == 'manager'">
      <a class="nav-item nav-link text-white" [routerLinkActive]="['active']" routerLink="/" translate>Home</a>
    </li>
  </ul>
  <span class="navbar-text mx-3">
  </span>
  <!-- btn btn-outline-light -->
  <button class=" logout" (click)="logout()" translate>Logout</button>
</nav>




<router-outlet></router-outlet>
